*{
    margin:0;
    padding:0;
}
.container{
    display:grid;
    grid-template-columns: 20% 80%;
--text-color:white;
--bar-colour:#d1d5db;

}


.sidebar{  
   background-color: #60a5fa;
   height: 100vh;
}




.logotext{
    display: flex;
    flex-direction: row;
    align-items: center;
justify-self: flex-start;
margin-left:40px;
    gap:15px;
    color:var(--text-color);
    
   
}

.home,.profile,.messages,.history,
.tasks,.communities,.settings,.support,.privacy{
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
    gap:10px;
    margin: 60px 40px;
    color:var(--text-color);
    margin-right:10px;

}

/** find out how to create the space between settings and communties*/ 
.bottom-half{
    margin-top:5px;
}

.main-content{
    display: grid;
    grid-template-rows: 20% 80%;
    background-color: white;
    height: 100vh;
}

.header{
    background-color:white;
    display:flex;
    flex-direction: column;

}

/**
Fix this css to match navbar in pick
**/
.nav,.left-side{
  display: flex;
  flex-direction:row;
  align-items: center;
  margin: 30px 40px;
 

}
.input-form{
    width:25vw;
    border-radius: 20px;
    height:30px;
    margin-left:40px;
    margin-right:400px;

    border:1px solid var(--bar-colour);
    background-color:var(--bar-colour);
   
}

.avatar{
   margin:0px 50px;
}


.main-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin:0px 20px;
}




.content{
    background-color:var(--bar-colour);;
}

 